.cart-page {
    min-height: 100%;
}

.cart-page__fab {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    padding: 1em 3em;
    height: auto;
    border-radius: 25px;
    background: var(--primary-color);
    color: white;
    border: none;
}

.cart-page__fab:focus,
.cart-page__fab:active {
    background: var(--primary-color);
    color: white;
}

.cart-page__fab:hover {
    background: white;
    color: var(--primary-color);
}