form {
    max-width: 70%;
    max-height: 80%;
    overflow-y: auto;
}

form h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color);
    font-weight: bold;
}

form .ant-form-item:last-child {
    margin: 0;
    justify-content: center;
}

.login-form__submit {
    width: 100%;
    margin-top: 20px;
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    height: auto;
}